
*.fasta
*.dodeca_nocomp
fasta/header
fasta/i.fasta.bins
fasta/ii.fasta.bins
fasta/iii.fasta.bins
fasta/iv.fasta.bins
fasta/multiple.bins
fasta/multiple.g100.bins
fasta/v.fasta.bins
fasta/x.fasta.bins
old/dodeca_ge100_umap.Rdat
old/i.fasta.dodeca
old/ii.fasta.dodeca
old/iii.fasta.dodeca
old/iv.fasta.dodeca
old/lengths.txt
old/mercatalog.pl
old/mercatalog_hist.pl
old/nocomplementary/mercatalog_nocomp.pl
old/sbs1_dodeca.txt
old/v.fasta.dodeca
old/x.fasta.dodeca
